@charset "utf-8";

/*ROOT要素に文字サイズを約10pxに設定*/
html {
    font-size: 62.5%;
}

body {
    font-family: "Zen Kaku Gothic New", serif;
    font-weight: 400;
    font-style: normal;
}

img {
    vertical-align: middle;
}

/*-----------------------------
    all
-------------------------------*/
/* menu */
.menu {
    position: relative;
    margin-top: 160px;
}

h2 {
    font-size: 4.0rem;
    font-weight: 300;
    text-align: center;
}

.menu p {
    font-size: 3.2rem;
    letter-spacing: 0.1em;
    color: #F9423A;
    text-transform: uppercase;
    text-align: center;
}

.menu p::before {
    position: absolute;
    left: 20%;
    top: 80px;
    content: "";
    display: block;
    background-color: #F9423A;
    width: 10%;
    height: 1px;
}

.menu p::after {
    position: absolute;
    right: 20%;
    top: 80px;
    content: "";
    display: block;
    background-color: #F9423A;
    width: 10%;
    height: 1px;
}

@media screen and (max-width:440px) {
    .menu {
        margin-top: 60px;
    }

    h2 {
        font-size: 2.0rem;
        letter-spacing: -0.05em;
    }

    .menu p {
        font-size: 1.4rem;
    }

    .menu p::before {
        top: 40px;
    }

    .menu p::after {
        top: 40px;
    }
}

/* button */

.button a {
    width: 31.25%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #7a7a7a solid;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 60px;
    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 300;
    color: #000;
}

.button a:hover {
    text-decoration: underline;
}

@media screen and (max-width:440px) {
    .button a {
        font-size: 1.3rem;
        width: 300px;
        height: 40px;
        border-radius: 15px;
        border: 1px #7a7a7a solid;
        margin-top: 10px;
    }
}

@media screen and (max-width:440px) {}

@media screen and (min-width:441px) and (max-width:960px) {}

/*-----------------------------
    header
-------------------------------*/
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}

@media screen and (max-width:440px) {
    header {
        background: none;
        box-shadow: none;
    }
}

header h1 img {
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width:440px) {
    h1 {
        width: 100%;
        height: 60px;
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);

        display: flex;
        align-items: flex-end;
    }

    header h1 img {
        width: 50%;
        margin-bottom: 10px;
    }
}


header nav ul li {
    margin-right: 50px;
}

header a {
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: #000;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

@media screen and (max-width:440px) {
    .header-nav {
        display: block;
    }
}

.switch {
    display: none;
}

@media screen and (max-width:440px) {
    .switch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;

        background-color: #F9423A;
        border-radius: 40px;

        position: absolute;
        right: 0;
        top: 0;
        margin-right: 10px;
        margin-top: 10px;
        z-index: 9999;
    }

    .switch span {
        display: block;
        width: 26px;
        height: 2px;
        background-color: #FFF;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
        transition: all .3s;
    }

    .switch.active span:nth-of-type(1) {
        transform: rotate(45deg) translateX(4px) translateY(6px);
        margin-left: 2px;

    }

    .switch.active span:nth-of-type(2) {
        opacity: 0;
    }

    .switch.active span:nth-of-type(3) {
        transform: rotate(-45deg) translateX(4px) translateY(-6px);
        margin-left: 2px;
    }
}

.header-nav nav {
    width: 60%;
}

.header-nav nav ul {
    display: flex;
    list-style-type: none;
    margin-right: 12px;
    justify-content: flex-end;
}

.header-nav nav ul li {
    margin-right: 2%;
    text-align: center;
}

.trigger p {
    display: block;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    color: #000;
}

header li:hover a,
header li:hover p {
    text-decoration: underline;
}

@media screen and (max-width:440px) {
    .header-nav nav {
        display: none;
        background-color: rgba(251, 119, 107, 0.8);
        width: 250px;
        position: absolute;
        top: 324px;
        right: 0;
    }

    .header-nav nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
    }

    .header-nav ul li {
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 5px;
        width: 100%;
    }

    .trigger {
        display: none;
    }

    .header-nav ul li a {
        color: #FFF;
    }
}

.header-menu nav {
    display: none;
    background-color: #F9423A;
    width: 800px;
    position: absolute;
    right: 0;
}

.header-menu nav ul {
    display: flex;
    list-style-type: none;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
}

.header-menu a {
    color: #fff;
}

@media screen and (max-width:440px) {
    .header-menu nav {
        display: none;
        background-color: rgba(251, 119, 107, 0.8);
        width: 250px;
    }

    .header-menu nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        height: auto;
    }

    .header-menu nav ul li {
        margin-right: 0;
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
}

/*-----------------------------
    mainvisual
-------------------------------*/

.mainvisual {
    margin-top: 60px;
    display: flex;
    height: 95vh;
}

@media screen and (max-width:440px) {
    .mainvisual {
        margin-top: 60px;
        height: auto;
    }
}

.visual-inner {
    z-index: 3;
    width: 33.33%;
}

.visual-inner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.mainvisual::before {
    position: fixed;
    display: block;
    content: "";
    background-color: #F9423A;
    opacity: 0.5;
    width: 5.2%;
    height: 100vh;
}

.mainvisual::after {
    position: fixed;
    display: block;
    right: 0;
    content: "";
    background-color: #F9423A;
    opacity: 0.5;
    width: 5.2%;
    height: 100vh;
}

@media screen and (max-width:440px) {
    .mainvisual::after {
        width: 15px;
        background-color: #FB776B;
        opacity: 1;
        z-index: 1;
    }

    .mainvisual::before {
        width: 15px;
        opacity: 1;
        background-color: #FB776B;
        z-index: 1;
    }
}

/*-----------------------------
    news
-------------------------------*/
.news {
    margin-top: 70px;
}

.news-inner {
    background-color: #FEEDED;
}

.news a {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 640px;
    height: 30px;


    text-decoration: none;
    color: #000;
    font-weight: 300;
    font-size: 1.8rem;
}

.news-inner:hover p {
    text-decoration: underline;
}

@media screen and (max-width:440px) {
    .news {
        margin-top: 35px;
    }

    .news a {
        margin-top: 5px;
        width: 360px;
        height: 20px;
        font-size: 1.1rem;
    }
}

/*-----------------------------
    recommend
-------------------------------*/
.recommend ul {
    margin-top: 40px;
}

.recommend ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.recommend ul li a {
    width: 37.5%;
}

.recommend ul li img {
    width: 100%;
    height: 100%;
    transition: all .1s;
}

.recommend ul li img:hover {
    transform: scale(102%);
}

.recommend ul li p {
    display: block;
    width: 25%;
    font-size: 2.4rem;
    margin-left: 20px;
}

@media screen and (max-width:440px) {
    .recommend ul {
        margin-top: 12px;
    }

    .recommend ul li {
        margin-top: 10px;
    }

    .recommend ul li a {
        width: 93%;
    }

    .recommend ul li p {
        display: none;
    }
}

/*-----------------------------
    campaign
-------------------------------*/
.campaign ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 60px;
    list-style: none;
}

.campaign ul li {
    width: 18.75%;
}

.campaign ul li:nth-of-type(2) {
    width: 37.5%;
    margin-left: 20px;
    margin-right: 20px;
}

.campaign ul li a img {
    width: 100%;
    height: 100%;
    transition: all .1s;
}

.campaign ul li a img:hover {
    transform: scale(102%);
}

.campaign ul li p {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width:440px) {
    .campaign ul {
        margin-top: 2px;
        flex-direction: column;
        align-items: center;
    }

    .campaign ul li,
    .campaign ul li:nth-of-type(2) {
        width: 93%;
        margin-right: 0;
        margin-left: 0;
        margin-top: 10px;
    }

    .campaign ul li p {
        display: none;
    }
}


/*-----------------------------
    travelabroad
-------------------------------*/

.travel-tips {
    position: relative;
    display: block;
    width: 37.5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.travel-tips img {
    width: 100%;
    height: 100%;
    transition: all .1s;
}

.button-moreinfo a {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 60px;
    background-color: #fff;
    opacity: 0.8;
    text-decoration: none;
    color: #000;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-right: 10px;
}

.travel-tips:hover .button-moreinfo a {
    text-decoration: underline;
}

.travel-tips:hover img {
    transform: scale(102%);
}

.plan {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-inner {
    width: 37.5%;
    height: 630px;
    background-image: url(img/abroadplan.png);
    background-size: 100% 630px;
    margin-left: 20px;
    margin-right: 20px;
}

.plan1-button,
.plan2-button {
    width: 50%;
    height: 60px;
    font-size: 2.0rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plan-inner ul {
    list-style: none;
    display: flex;
}

.plan-inner ul li {
    width: 50%;
    margin-left: 0.14%;
    margin-top: 14px;
}

.plan-inner ul li img {
    object-fit: cover;
    width: 98%;
    height: 250px;
}

.plan-inner ul li p {
    font-size: 3.2rem;
    letter-spacing: 0.1em;
    margin-top: 12px;
}

.plan-inner ul li p:nth-of-type(1)::before {
    content: "・";
}

.plan-inner ul li p:nth-of-type(2) {
    text-align: right;
    font-weight: 700;
}

.planbutton a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    text-decoration: none;
    font-size: 2.4rem;
    color: #363636;
    width: 80%;
    height: 80px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
}

.planbutton a:hover {
    text-decoration: underline;
}

/* domestictravel */
.domestictravel .plan-inner {
    background-image: url(img/domesticplan.png);
}

/*ここまで*/

@media screen and (max-width:440px) {
    .travel-tips {
        width: 93%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12px;
    }

    .button-moreinfo a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85px;
        height: 30px;
        background-color: #fff;
        opacity: 0.8;
        text-decoration: none;
        color: #000;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .plan {
        position: relative;
        margin-top: 10px;
        display: block;
        width: 100%;
        height: 315px;
    }

    .plan-inner {
        width: 90%;
        height: 315px;
        background-image: url(img/abroadplan.png);
        background-size: 100% 315px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .plan-inner:nth-of-type(1) {
        z-index: 2;
    }

    .plan1-button,
    .plan2-button {
        height: 30px;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .plan-inner ul {
        list-style: none;
        display: flex;
    }

    .plan-inner ul li {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;

    }

    .plan-inner ul li img {
        object-fit: cover;
        width: 98%;
        height: 125px;
        margin-left: 2px;
    }

    .plan-inner ul li p {
        font-size: 1.6rem;
        margin-top: 6px;
    }

    .plan-inner ul li p:nth-of-type(2) {
        font-size: 2.4rem;
    }

    .planbutton a {
        margin-top: 30px;
        font-size: 1.3rem;
        width: 80%;
        height: 40px;
        border-radius: 15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        background-color: #fff;
    }

    /* 背景画像を反転 */
    .plan-inner:nth-of-type(2) {
        background-image: url(img/closeplan.png);
        transform: scale(-1, 1);
    }

    .plan2-button {
        transform: scale(-1, 1);
        color: #FFF;
    }

    .plan-inner:nth-of-type(2) ul {
        transform: scale(-1, 1);
    }

    .plan-inner:nth-of-type(2) div {
        transform: scale(-1, 1);
    }

    /* ここまで */
    /* プラン2on */
    .plan-inner.active .plan-inner:nth-of-type(2) {
        z-index: 3;
        background-image: url(img/abroadplan.png);
    }

    .plan-inner.active .plan2-button {
        color: #000;
    }

    .plan-inner.active .plan-inner:nth-of-type(1) {
        background-image: url(img/closeplan.png);
    }

    .plan-inner.active .plan1-button {
        color: #fff;
    }

    /* ここまで */
}

/*-----------------------------
    service
-------------------------------*/
.service ul {
    width: 76.04%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.service a {
    text-decoration: none;
}

.service a p {
    color: #000;
    margin-right: 40px;
}

.service ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-main {
    margin-top: 60px;
}

.service-main li {
    position: relative;
}

.service-img {
    width: 99%;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 10px;
}

.service-main a {
    position: absolute;
    bottom: 0;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
    width: 99%;
    height: 70px;
    background-color: #fff;
    opacity: 0.8;
}

.service-main p {
    font-size: 2.4rem;
}

.service-sub {
    margin-top: 20px;
}

.service-sub p {
    font-size: 3.2rem;
}

.service a:hover p {
    text-decoration: underline;
}

@media screen and (max-width:440px) {
    .service ul {
        width: 93%;
        display: block;
    }

    .service ul li {
        margin-top: 10px;
    }

    .service a p {
        margin-right: 20px;
    }

    .service-main {
        margin-top: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .service-main a,
    .service-img {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .service-main a {
        height: 35px;
    }

    .service-main p {
        font-size: 1.2rem;
    }

    ul.service-sub {
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    ul.service-sub li a {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .service-sub p {
        font-size: 1.6rem;
        letter-spacing: 0.1em;
    }

    .service-sub img {
        margin-right: 10px;
    }
}

/*-----------------------------
    footer
-------------------------------*/
footer {
    background-color: #FB776B;
    padding-top: 140px;
    padding-bottom: 60px;
    margin-top: 240px;
}

footer a {
    margin-top: 60px;
    text-decoration: none;
}

footer a:hover p {
    text-decoration: underline;
}

.footer-logo {
    width: 21.25%;
    margin-left: auto;
    margin-right: auto;
}

.footer-logo img {
    width: 100%;
}

.footer-other a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 500px;
}

.footer-inner p {
    color: #fff;
    font-size: 2.4rem;
}

.footer-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px #fff solid;
    width: 500px;
    height: 125px;
}

.footer-button p {
    font-size: 3.2rem;
}

.footer-sns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-sns a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 70px;
}

@media screen and (max-width:440px) {
    footer {
        background-color: #FB776B;
        padding-top: 60px;
        padding-bottom: 45px;
        margin-top: 120px;
    }

    footer a {
        margin-top: 10px;
        text-decoration: none;
    }

    .footer-logo {
        width: 136px;
        height: 110px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    .footer-logo img {
        width: 100%;
    }

    .footer-other a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        height: 17px;
        width: 120px;
    }

    .footer-inner p {
        color: #fff;
        font-size: 1.2rem;
    }

    .footer-button a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        border: 1px #fff solid;
        width: 120px;
        height: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .footer-button p {
        font-size: 1.6rem;
    }

    .footer-sns {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-sns a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 18px;
    }
}
